<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File</title>
</head>
<body>
    Menu:
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/hello">Hello</a></li>
        <li><a href="/dynamic">Dynamic</a></li>
    </ul>
    <span>Enter in url <b>'/echo/{CONTENT}/'</b> to print your custom content</span>
</body>
</html>